* {
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
}

.sidebar {
    /* border: 2px solid red; */
    padding-top: 20px;
    position: absolute;
    z-index: 1;
    width: 70px;
    top: 10px;
    left: 10px;
    bottom: 10px;
}

.content {
    /* border: 2px solid blue; */
    position: absolute;
    margin-left: 80px;
    right: 0;
    left: 0;
    height: 100%;
    overflow: auto;
}

.sidebar-shift {
    margin-left: 80px;
}

.prompt {
    /* border: 2px solid green; */
    width: 960px;
    max-width: 97%;

    display: block;
    margin-left: auto;
    margin-right: auto; 

    /* TODO: Margin shifts when dashboard is generated.  */
    margin-top: 20%;
    margin-bottom: 10%;
}

.prompt > p{
    height: 80px;
}

.dashboard {
    /* border: 2px solid yellow; */
    margin-top: 3%;
    width: 97%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding: 30px 30px 30px 30px;
    margin-bottom: 3%;
}

.card {
    margin: 40px 10px 40px 10px;
    min-height: 400px;
}