.background {
    background-color: #212121;
}

.sidebar {
    border-radius: 10px;
    background-image: linear-gradient(#33cccb, #33cccb, #193053);
    box-shadow: 2px 5px 20px#181818;
}

.sidebar > li {
    list-style: none;
    padding: 20px 5px 20px 5px;
}

.icon > p {
    font-family: 'Verdana';
    font-weight: 500;
    font-size: 9px;
    text-align: center;
    color: #e4e4e4;
}

.icon > img {
    padding: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 32px;
    color: white;
    filter: invert(100%) sepia(1%) saturate(716%) hue-rotate(330deg) brightness(113%) contrast(79%);
}

#sidebar > a:hover, a:focus{
    filter: invert(64%) sepia(66%) saturate(465%) hue-rotate(131deg) brightness(96%) contrast(82%);
    color: #33cccb;
    text-decoration: none;
}

#fullpage {
    position: absolute !important;
}

.s2, .s3 {
    background-color: rgba(18,18,18,0.7);
}

.landing {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.scroll-up {
    /*Scroll up Arrow*/
    
    position: absolute;
    top: 30px;
    text-align: center;
    cursor: pointer;

    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	pointer-events: auto;
}

.scroll-down {
    /*Scroll down Arrow*/
    
    position: absolute;
    bottom: 30px;
    text-align: center;
    cursor: pointer;

    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	pointer-events: auto;
}

a.selector {
    font-size: 21px;
    font-weight: 500;
    color: white;
    padding: 15px 0px 15px 0px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 80%;
    border: 2px solid white;
    border-radius: 10px;
}

a.selector:hover, a.selector:active {
    color: #193053;
}

 /* Modifies Text */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 96px;
    font-weight:600;
    color: #f7f7f7;
    padding: 25px 0px 25px 0px;
}

h2 {
    font-size: 56px;
    font-weight: 300;
    color: #f7f7f7;
    padding: 25px 0px 25px 0px;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    color: #f7f7f7;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #f7f7f7;
}

#subheader {
    font-size: 26px;
    font-style: italic;
}

span {
    background: #f7f7f7 !important;
}


/* SKILLS/DOMAIN PAGES */

.prompt > p {
    font-size: 42px;
    color: white;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
  
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
  
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
  
  /*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

  
  /* DASHBOARD TRANSFORMATIONS */
canvas {
    width: 80%;
}