<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Upskill</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

        <!-- Full Page CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css" integrity="sha512-8M8By+q+SldLyFJbybaHoAPD6g07xyOcscIOQEypDzBS+sTde5d6mlK2ANIZPnSyxZUqJfCNuaIvjBUi8/RS0w==" crossorigin="anonymous" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            
        <!-- Main CSS -->
        <link rel="stylesheet" type="text/css" href="./static/css/layout.css">
        <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    </head> 
    <body>
        <div id="particles-js" class="background">
            <div class="sidebar">
            <ul>
                <li><a href="."><div class="icon icon-home"><img src="./static/assets/imgs/home.svg" alt="Home"><p>Home</p></div></a></li>
                <br>
                <li><a href="static/skills.html"><div class="icon icon-skills"><img src="./static/assets/imgs/nodes.svg" alt="Skills"><p>Skills</p></div></a></li>
                <li><a href="static/domains.html"><div class="icon icon-domains"><img src="./static/assets/imgs/briefcase.svg" alt="Domains"><p>Domains</p></div></a></li>
            </ul>
            </div>
            <div id="fullpage">
                <div class="section s1">
                    <div class="sidebar-shift">
                        <h1 class="text-center">Upskill</h1>
                        <p class="landing" id="subheader">Recommending you the best skills</p>
                        <a href="#secondPage" data-menuanchor="secondPage" class="content"><div class="scroll-down"><img src="./static/imgs/down-arrow.svg"></div></a>
                    </div>
                </div>
                <div class="section s2">
                    <div class="sidebar-shift">
                        <a href="#firstPage" data-menuanchor="secondPage" class="content"><div class="scroll-up"><img src="./static/imgs/top-arrow.svg"></div></a>
                        <h2 class="text-center">About</h2>
                        <p class="landing">Upskill is an application that enables job seekers to better understand what skills employers are looking for in their associated industry using historical and real-time data on job postings.  Our tool utilises a recommendation system to suggest skills for users who are interested in expanding their current skillset and potentially pick up complementing skills that are sought out by employers.</p>
                        <a href="#thirdPage" data-menuanchor="secondPage" class="content"><div class="scroll-down"><img src="./static/imgs/down-arrow.svg"></div></a>
                    </div>
                </div>
                <div class="section s3">
                    <div class="sidebar-shift">
                        <a href="#secondPage" data-menuanchor="secondPage"><div class="scroll-up content"><img src="./static/imgs/top-arrow.svg"></div></a>
                        <h2 class="text-center">Get Started</h2>
                        <div class="container landing">
                            <div class="row">
                                <div class="col">
                                    <a href="./static/skills.html" class="selector">Skills</a>
                                    <p>Some text here about what the skills page is used for and how it can be useful.</p>
                                </div>
                                <div class="col">
                                    <a href="./static/domains.html" class="selector">Domains</a>
                                    <p>Some text here about the domains page and what to do there.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>

        <!-- Particles JS -->
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <!-- Full Page -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js" integrity="sha512-Gx/C4x1qubng2MWpJIxTPuWch9O88dhFFfpIl3WlqH0jPHtCiNdYsmJBFX0q5gIzFHmwkPzzYTlZC/Q7zgbwCw==" crossorigin="anonymous"></script>

        <script>
            new fullpage('#fullpage', {
                licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
                anchors: ['firstPage', 'secondPage', 'thirdPage'],
                navigation: true,
                navigationTooltips: ['Home', 'About', 'Get Started'],
            });

            particlesJS.load('particles-js', './static/assets/particles.json', function() {
                console.log('callback - particles.js config loaded');
            });
        </script>

    </body>
</html> 